.grid {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}

.grid div{
	width: 20px;
	height: 20px;
	
}


.invader{
	background-color:rgb(128, 0, 128);
	border-radius: 10px;
}

.shooter{
	background-color:rgb(0, 255, 30);
}

.laser {
	background-color: rgb(248, 162, 2);
}

.boom{
	background-color: rgb(249, 5, 5);
}