.grid {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	background: url(./assets/space.avif);
}

.grid div{
	width: 20px;
	height: 20px;
	
}


.invader{
	background-image: url(./assets/aliens.png);
	background-size: cover;
}

.shooter{
	background-image: url(./assets/spaceship.png);
	background-size: cover;
}

.laser {
	background-image: url(./assets/laser.png);
	transform: rotate(90deg);
	background-size: cover;
}

.boom{
	background-image: url(./assets/explosion.png);
	background-size: cover;
}